<div class="container">
	<div class="row">
		<h3>Users</h3>
		<div class="columns">
			<table class="table">
				<tbody>
					<td class="title-center">Account number</td>
					<td>Name</td>
					<% @users.each do |user| %>
					  <tr>
					  	<%= render user %>
					  </tr>
					<% end %>
				</tbody>
			</table>
		</div>
	</div>
</div>
