// Place all the styles related to the access controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.img_position {
  display: inline-block;
  margin: 20px;
  padding: 0;
  text-align: center;
}

.footer-left{
  text-align: right;
  padding: 0;
  margin: 0;
}
